<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Order Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Main</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" aria-expanded="false">
                        Directories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/products/">Products</a>
                        <a class="dropdown-item" href="/clients/">Clients</a>
                        <a class="dropdown-item" href="/suppliers/">Suppliers</a>
                        <!-- <div class="dropdown-divider"></div> -->
                        <a class="dropdown-item" href="/brands/">Brands</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orders/">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/confirmations/">Confirmations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/invoices/">Invoices</a>
                </li>
            </ul>
        </div>
    </div>
</nav>