{% extends 'ordertrack_app/base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}
<h2>{{ orderitems.0.order_id }}</h2>
<table class="table table-light table-hover">
    <small>
        <tr>
            {% if orderitems %}
            <th class="col-auto">Client</th>
            <th class="col-auto">Product</th>
            <th class="col-auto">Quantity</th>
            {% endif %}
        </tr>
        {% for orderitem in orderitems %}
        <tr>
            <td>{{ orderitem.client.name }}</td>
            <td>{{ orderitem.product.name }}</td>
            <td>{{ orderitem.quantity }}</td>
        </tr>
        {% empty %}
        <li class="list-group-item">No items</li>
        {% endfor %}
    </small>
</table>
{% endblock %}