{% extends 'ordertrack_app/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form method="post" class="mt-4 mb-5" enctype="multipart/form-data">
    {% csrf_token %}
    {{ loadform.as_p }}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary" id="previewBtn" name="action" value="preview">Preview</button>
    <button type="submit" {% if add_confirmation_disabled %}disabled{% endif %} class="btn btn-primary"
        id="addConfirmationBtn" name="action" value="add">Add confirmation</button>
</form>
<div class="file-data" data-confirmationdata="{{ confirmationdata | safe }}">
    <pre>{{ confirmationdata }}</pre>
</div>

<script>
    const fileInput = document.querySelector('input[name="file"]');
    const nameInput = document.querySelector('input[name="name"]');
    const confirmation_codeInput = document.querySelector('input[name="confirmation_code"]');
    const confirmation_dateInput = document.querySelector('input[name="confirmation_date"]');
    const supplierInput = document.querySelector('select[name="supplier"]');
    const addOrderBtn = document.getElementById('addConfirmationBtn');

    fileInput.addEventListener('change', function () {
        const label = this.previousElementSibling;
        const fileNameFull = this.files[0]?.name;
        const fileName = fileNameFull?.replace(/\.[^/.]+$/, "")
        nameInput.value = fileNameFull;
        nameInput.setAttribute('placeholder', '');

        const dateString = fileName.match(/(\d{6})$/);
        if (dateString && dateString.length > 0) {
            const dateValue = dateString[0];
            const day = dateValue.slice(0, 2);
            const month = dateValue.slice(2, 4);
            const year = "20" + dateValue.slice(4);
            const formattedDate = `${year}-${month}-${day}`;
            confirmation_dateInput.value = formattedDate;
        }
        confirmation_dateInput.setAttribute('placeholder', '');

        confirmation_codeInput.value = 'Preview'
        confirmation_codeInput.setAttribute('placeholder', '');

        document.querySelector('.file-data pre').textContent = '';
        document.querySelector('.file-data').dataset.confirmationdata = '';
        addOrderBtn.disabled = true;
    })
</script>

{% endblock %}